<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Admin Page</h2>
<h3>Welcome :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>
<b>This is protected page!</b>
<h2><span th:utext="${message}"></span></h2>
<table>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
    </tr>
    <tr th:each="appUser : ${appUserList}">
        <td th:text="${appUser.getUserId()}"></td>
        <td th:text="${appUser.getUserName()}"></td>

        <td>
            <form action="#" th:action="@{/remove}" th:object="${userRow}" method="get">
                <input type="hidden" name="userId" th:value="${appUser.getUserId()}">
                <input type="hidden" name="userName" th:value="${appUser.getUserName()}">
                <button th:if="${appUser.getUserName() != #request.userPrincipal.name}" type="submit">
                    <i>Remove</i>
                </button>
            </form>
        </td>
    </tr>
</table>
<br/><br/>
<a href='/registration'><button>Add User</button></a>


<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

</body>

</html>