<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>Registration</h1>

<h3>Enter username and password:</h3>
<form action="#" th:action="@{/registration}" th:object="${userToAdd}" method="post">
    <p>Username: <input type="text" th:field="*{userName}" /></p>
    <p>Password: <input type="password" th:field="*{encryptedPassword}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<br>
Username/pass:
<ul>
    <li>dbuser1/123</li>
    <li>dbadmin1/123</li>
</ul>

</body>

</html>