<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>


<h2>User Info Page</h2>
<h3>Welcome : <span th:text="${currentUser.getUserName()}"></span></h3>
<h3>Your current status : <span th:text="${currentUser.getStatus()}"></span></h3>

<h3 th:if="${errorMsg}!=null" th:utext="${errorMsg}" style="color: red;"></h3>

<h4>Change your information</h4>
<form action="#" th:action="@{/userInfo}" th:object="${newUserData}" method="post">
    <p>Username: <input type="text" th:field="*{userName}" ></p>
    <p>Custom status: <input type="text" th:field="*{status}"></p>
    <button type="submit">
        <i>Update info</i>
    </button>
</form>
<br/><br/>

<b>Note: You will automatically logout if you change your username!</b>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

</body>

</html>